<div class="footer">
	<div class="bottom-section mt-auto">
		<ul class="left-side">
			<li><a class="#" href="{% url 'food:about' %}">About</a></li>
			<li><a class="#" href="{% url 'food:contact' %}">Contact Us</a></li>
			<li><a class="#" href="{% url 'food:privacy' %}">Privacy policy</a></li>
		</ul>
		<ul class="right-side">
			<li> &copy; hangrysloth 2022</li>
		</ul>
	</div>	
</div>

<div class="footer-mobile">
	<div class="bottom-section mt-auto">
		<ul class="bottom-footer">
			<li><a class="#" href="{% url 'food:about' %}">About</a></li>
			<li><a class="#" href="{% url 'food:contact' %}">Contact Us</a></li>
			<li><a class="#" href="{% url 'food:privacy' %}">Privacy policy</a></li>
		</ul>
		<ul class="right-side">
			<li>Copyright placeholder</li>
		</ul>
	</div>	
</div>
