{% extends "../base/main.html" %}
{% load static %}
{% block content %}
{% include "base/nav-main.html" %}

<div class="about-page">
	<div class="about-header">
		<h1>About Hangrysloth</h1>
		<h2>Hangrysloth was created as a passion project by an aspiring self-taught web developer to solve the age old question: Where should i go to eat? With the ability to search through either a carefully curated list or a personal list, this website hopes to make finding food in a food haven an easy choice.</h2>
		<div class="about-cta">Have something you want to tell us? Contact us at admin@hangrysloth.com or head over to our <a class="#" href="{% url 'food:contact' %}">contact page</a></div>
	</div>


</div>

{% include "base/footer.html" %}
{% endblock content %}