{% extends "../base/main.html" %}
{% load static %}
{% block content %}
{% include "base/nav-main.html" %}

<div class="explore-page">
	<div class="contact-page">
		<h1>Contact Us</h1>
		<h4>Contact us directly if you have any questions or suggestions</h4>
		<p>
			Please write your name, email address and a message below if you have any questions.
			We will be happy to contact you directly and answer your questions as soon as possible. 
		</p>
		<form method="post">
        {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

{% include "base/footer.html" %}
{% endblock content %}