{% extends "../base/main.html" %}
{% load static %}
{% block content %}
{% include "base/nav-main.html" %}

<div class="explore-page">
	<div class="explore-page-articles">
		<h1>Articles</h1>
		<h2>COMING SOON</h2>
	</div>
	<hr>

	<div class="explore-page-tags">
<!-- 		<h1>Tags</h1> --> 
  			<ul class="testing-list">
  				<li class="testing-list-individual"></li>
				<li class="testing-list-individual"><h1>Tags</h1></li>
				<li class="testing-list-individual"></li>
				<li class="testing-list-individual"><a href="/tags" class="tags btn btn-primary">View All Tags</a></li>
			</ul>

		<h2>Trending Tags</h2>

		<div class="grid-sample">
  			<a href="/tag/starbucks" class="btn btn-primary">Starbucks</a>
			<a href="#" class="btn btn-primary">#</a>
			<a href="#" class="btn btn-primary">#</a>
			<a href="#" class="btn btn-primary">#</a>
			<a href="#" class="btn btn-primary">#</a>
		</div>

		<div class="grid-mobile">
  			<a href="/tag/starbucks" class="list-group-item list-group-item-action">Starbucks</a>
			<a href="#" class="list-group-item list-group-item-action">#</a>
			<a href="#" class="list-group-item list-group-item-action">#</a>
			<a href="#" class="list-group-item list-group-item-action">#</a>
			<a href="#" class="list-group-item list-group-item-action">#</a>
		</div>

		<h2>Editor's picks</h2>
		<div class="grid-sample">
  			<a href="/tag/starbucks" class="btn btn-primary">Starbucks</a>
			<a href="#" class="btn btn-primary">Mcdonalds</a>
			<a href="#" class="btn btn-primary">Pizza Hut</a>
			<a href="#" class="btn btn-primary">Coffee Bean</a>
			<a href="#" class="btn btn-primary">Popeyes</a>
		</div>

		<div class="grid-mobile">
  			<a href="/tag/starbucks" class="list-group-item list-group-item-action ">Item 1</a>
			<a href="#" class="list-group-item list-group-item-action">Mcdonalds</a>
			<a href="#" class="list-group-item list-group-item-action">Pizza Hut</a>
			<a href="#" class="list-group-item list-group-item-action">Coffee Bean</a>
			<a href="#" class="list-group-item list-group-item-action">Popeyes</a>
		</div>
	</div>


</div>


{% include "base/footer.html" %}
{% endblock content %}